/*RESET */

body, header, h1, span, a, section, div, h2, nav, ul, li, img, p, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    color: #d6d3c8;
}

body {
    background-color: #252525;
}

img {
    display: block;
    max-width: 100%;
}

/* HEADER */

.header {
    padding: 30px 0;
    border-bottom: 3px solid #d6d3c8;
}

.header h1 {
    font-size: 1.125em;
    font-weight: 400;
    text-align: center;
}

/* CONTAINER */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

/* MAIN */

.brafe:nth-child(odd) {
    border-top: 3px solid #d6d3c8;
    border-bottom: 3px solid #d6d3c8;
}

.brafe h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    font-style: italic;
    margin: 15px 0;
}

.brafetype-nav ul {
    display: flex;
    justify-content: center;
}

.brafetype-nav ul li {
    margin-bottom: 30px; 
}

.brafetype-nav ul li a {
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 1.125em;
}

.brafetype-nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.15)
}

.brafetype-nav ul li:first-child a {
    margin-left: 0;
}

.brafetype-nav ul li:last-child a {
    margin-right: 0;
}

.brafe img {
    margin: 0 auto;
    box-shadow: 0 0 0 6px #252525, 0 0 0 9px #d6d3c8;
}

.brafe p {
    text-align: center;
    margin: 60px 0;
}

.brafe p a:hover {
    color: #aa88ff;   
}

.footer {
    display: flex;
    border-top: 3px solid #d6d3c8;
    padding: 30px;
}

.footer a {
    margin-right: auto;
}

@media (max-width: 520px) {
    .footer {
        display: block;
        text-align: center;
    }
}