/* Menu */

.menu {
    background-color: #252525;
    padding: 20px 0;
}

.menu_container {
    max-width: 960px; /*melhora a questão do responsível*/
    margin: 0 auto; /*centraliza o contéudo*/
}

.menu_container::after, .menu_container::before { /*geralmente se cria uma classe chamada clear-fix e adiciona ela em cada container que tenha float, Aula 2-3*/
    content: '';
    display: table;
    clear: both;
}

a.menu_logo {
    display: block; /*pois todo elemento 'a' por padrão é um elemento display inline, então ele não consegue pegar o tamanho exato da imagem, transformando-o em display: block; ele consegue*/
    float: left; /*o float left além de fazer o elemento flutuar a esquerda, faz com que o elemento ocupe somente o espaço do contéudo presente nele*/
    margin-left: 10px;
    /*background-color: red;*/
}

ul.menu_nav { /*sempre que no container há um elemento flutuante, os outros elementos devem flutuar também (É NECESSÁRIO USAR UM CLEARFIX)*/
    float: right;
    margin-right: 10px;
    /*background-color: blue;*/
}

.menu_nav li {
    display: inline-block; /*por que inline-block centraliza o contéudo verticalmente e somente inline não?*/
    padding: 10px;
}

.menu_nav li a {
    padding: 10px; /*pois o 'a' que é o botão, o padding de 'a' que define a area de contato do touch/mouse*/
    text-decoration: none; /*remove o estilo de decoração do a*/
    color: #fff;
    font-size: 1.125em; /*o tamanho da fonte no wireframe era de 18px, pra converter pra 'em' basta dividir a quantidade de pixels por 16, por ex. 18/16=1,125*/
    /*estudar sobre porque usar em*/
    /*background-color: green;*/
}

.sobre_page:hover, .produtos_page:hover, .portfolio_page:hover, .contato_page:hover {
    border-top: 2px solid;
    padding-top: 3px;
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
    opacity: 75%;
}

/* Intro */

.intro {
    background: url(../img/bg-intro.jpg) no-repeat center center; /*o center center alinha tanto a imagem horizontalmente quanto verticalmente*/
    background-size: cover;
    padding: 60px 0;
    text-align: center;
}

.intro h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
}

.intro h1::after { /*utiliza-se :: por tratar-se de um pseudo-elemento*/
    content: '';
    display: block;
    width: 20px;
    height: 4px;
    background-color: #fff;
    margin: 10px auto;
}

.intro p {
    color: #fff;
    font-size: 1.125em;
    font-style: italic;
}

/* Sobre */

.sobre {
    margin: 60px 0;
    /*background-color: red;*/
}

.sobre h2 {
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 60px;
}

.sobre_container {
    max-width: 960px;
    margin: 0 auto;
    /*background-color: blue;*/
}

.sobre_container::after, .sobre_container::before { /*o clearfix pode ser substituido também pelo overflow: hidden(com ressalvas)*/
    content: '';
    display: table;
    clear: both;
}

.sobre_item {
    width: 460px;
    float: left;
    margin: 0 10px;
    /* background-color: green; */
}

.sobre_item img {
    display: block;
    max-width: 100%;
}

.sobre_item h3 {
    font-size: 2.25em;
    font-weight: normal;
    font-style: italic;
    line-height: 1em;
    text-align: center;
    color: #fff;
    background-color: #252525;
    width: 220px;
    padding: 5px 0 10px 0;
    position: relative;
    top: -25px; /*é necessário definir acima o position relative para mover o elemento pois por padrão todo elemento é static, então ao usar o top o mesmo não surge efeito,
    poderia ser feito com um margin negativo também, mas assim o elemento ficaria por trás do elemento acima, dai seria preciso usar o z-index (obs: o margin negativo move também a margem entre o contéudo selecionado e o contéudo abaixo)*/
}

.sobre > p {
    font-size: 1.125em;
    font-style: italic;
    color: #252525;
    line-height: 1.4em;
    text-align: center;
    margin: 20px auto;
    max-width: 460px;
}

/* Produtos */

.produtos {
    background-color: #e7e4d8;
    padding: 60px 0;
    border-top: 3px solid #d6d3c8;
    border-bottom: 3px solid #d6d3c8;
}

.produtos_container {
    max-width: 960px;
    margin: 0 auto;
    /*background-color: blueviolet;*/
}

.produtos_container::after, produtos_container::before {
    content: '';
    display: table;
    clear: both;
}

.produtos_item {
    width: 300px;
    margin: 0 10px 15px 10px;
    float: left;
}

.produtos_item h2 {
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 15px;
}

.produtos_item h2::before { /*Aula 2-6*/
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background-color: currentColor;
    border-radius: 50%;
    margin: 15px auto;
    border: 5px solid #e7e4d8;
    box-shadow: 0 0 0 10px currentColor;
}

.produtos_paulista::before { /*Aula 2-6*/
    color: #492901;
}

.produtos_carioca::before { /*Aula 2-6*/
    color: #c17139;
}

.produtos_mineiro::before { /*Aula 2-6*/
    color: #d7a54d;
}

.produtos_item p {
    font-size: 0.875em;
    line-height: 1.4em;
}

.produtos_btn {
    width: 180px;
    color: #252525;
    border: 5px solid; /*quando se é definida a cor do texto, não é necessário definir a cor da borda, a menos que a borda seja diferente*/
    font-size: 1.125em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 15px auto 0 auto;
    padding: 15px 0;
    /*background-color: green;*/
}

.produtos_btn:hover { /*como tirar essa pequena "extensão do container" que se dá ao passar o cursor sobre os links? (sem definir o height do container manualmente, nesse caso o height do .produtos)*/ /*R: com o transform scale*/
    /* font-size: 1.3125em; */
    transform: scale(1.05);
}

/* Unidades */

.unidades {
    padding: 15px 0;
    /* background-color: #d7a54d; */
}

.unidades_container {
    max-width: 960px;
    margin: 45px auto;
    /*background-color: #6e2b8a;*/
}

.unidades_container::after, .unidades_container::before {
    content: '';
    display: table;
    clear: both;
}

.unidades_container img {
    width: 460px;
    display: block;
    float: left;
    margin: 0 10px;
}

.unidades_descricao {
    max-width: 460px;
    float: left;
    margin: 0 10px;
    /*background-color: #a8b2e6;*/
}

.unidades_descricao h2 {
    font-size: 2.25em;
    margin-bottom: 15px;
}

.unidades_descricao p {
    font-size: 1.125em;
    line-height: 1.4em;
    margin-bottom: 45px;
}

.unidades_descricao a {
    font-size: 1.125em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid;
    padding: 10px 20px;
}

.unidades_descricao a:hover {
    font-size: 1.3125em;
}

/* Newsletter */

.newsletter {
    background-color: #e7e4d8;
    padding: 30px 0;
}

.news_container {
    max-width: 960px;
    margin: 0 auto;
    /*background-color: #a3e5b8;*/
}

.news_container::after, .news_container::before {
    content: '';
    display: block;
    clear: both;
}

.news_info {
    /*background-color: lightblue;*/
    width: 460px;
    margin: 0 10px;
    float: left;
}

.news_info h2 {
    font-size: 2.25em;
}

.news_info p {
    font-size: 1.5em;
    font-style: italic;
}

.news_form {
    /*background-color: lightcoral;*/
    width: 460px;
    margin: 10px 10px;
    float: left;
}

.news_form label {
    display: none;
}

.news_form input {
    width: 294px;
    border: 3px solid;
    background: none;
    font-size: 1.5em;
    font-style: italic;
    outline: none; /*remove a decoração ao clicar no input*/
    padding: 10px;
    float: left;
}

.form_btn {
    background-color: #252525;
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
    border: none; /*por padrão todo button tem borda*/
    width: 140px;
    padding: 13px 0;
    float: left;
    outline: none;
    cursor: pointer;
}

.form_btn:hover {
    font-weight: bold;
}

/* Footer */

.footer {
    background-color: #d6d3c8;
    padding: 15px 0;
}

.footer_container {
    max-width: 960px;
    margin: 0 auto;
}

.footer_container::after, .footer_container::before {
    content: '';
    display: table;
    clear: both;

}
.footer p {
    font-size: 0.875em;
    font-style: italic;
    margin: 10px 10px 0 10px;
    float: left;
}

.footer img {
   float: right;
   display: block;
   margin: 0 10px;
}

/* Breakpoints (Aula 2-9) */

@media (min-width: 740px) and (max-width: 980px) {
    
    .sobre_container {
        max-width: 720px; /*esse max-width é definido pelo tamanho do min-width acima -20px do scroll*/
    }

    .sobre_item {
        width: 340px;
    }

    .produtos_container {
        max-width: 720px;
    }

    .produtos_item {
        width: 220px;
    }

    /*daqui pra baixo foi código desenvolvido inteiramente por mim*/
    .unidades_container {
        max-width: 720px;
    }
    
    .unidades_container img {
        width: 340px;
    }

    .unidades_container:nth-child(2) img {
        margin: 30px 10px;
    }
    
    .unidades_container:nth-child(2) .unidades_descricao {
        margin: 10px;
    }

    .unidades_descricao {
        width: 340px;
        margin-top: -20px;
    }
    
    .unidades_descricao p {
        margin-bottom: 30px;
    }
    
    .news_info {
        margin: 0 auto;
        float: none;
        clear: both;
    }
    
    .news_form {
        margin: 10px auto;
        float: none;
        clear: both;
    }

}

@media only screen and (max-width: 739px) { /* ou seja, tudo que for abaixo de 739px vai adicionar o estilo abaixo, é importante adicionar o 'only screen' e o 'and' pra caso o usuario for imprimir a pagina de um celular*/
    
    /*daqui pra baixo também é código meu*/
    .menu_container, .sobre_container, .produtos_container, .unidades_container, .news_container, .footer_container {
        max-width: 300px;
    }

    .intro h1 {
        font-size: 2.25em;
    }

    a.menu_logo {
        width: 300px;
        margin: 0 auto 10px auto;
        text-align: center;
        float: none;
        clear: both;
    }
    
    ul.menu_nav {
        margin: 0 auto;
        text-align: center;
        float: none;
        clear: both;
    }

    .menu_nav li {
        padding: 5px;
    }

    .menu_nav li a {
        padding: 10px 0px;
    }

    .sobre_item {
        width: 300px;
        margin: 0 auto;
    }

    .sobre > p {
        max-width: 300px;
    }

    .produtos_item {
        width: 300px;
        margin: 0 auto;
        text-align: center;
        float: none;
        clear: both;
    }

    .unidades_container img {
        max-width: 300px;
        margin: 0 auto;
        float: none;
        clear: both;
    }
    
    .unidades_descricao {
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
        float: none;
        clear: both;
    }

    .unidades_descricao h2 {
        margin: 10px auto;
    }

    .unidades_descricao p {
        margin-bottom: 30px;
    }

    .news_info {
        max-width: 300px;
        float: none;
        clear: both;
        margin: 0 auto;
        text-align: center;
    }

    .news_info h2 {
        font-size: 1.5em;
        width: 320px;
        left: -10px;
        position: relative;
    }

    .news_info p {
        font-size: 1.3125em;
    }

    .news_form {
        max-width: 300px;
        float: none;
        clear: both;
        margin: 10px auto auto auto;
    }

    .news_form input {
        width: 274px;
        float: none;
        clear: both;
        display: block;
        margin: 0 auto;
    }

    .form_btn {
        font-size: 1em;
        float: none;
        clear: both;
        width: 300px;
        display: block;
        margin: 0 auto;
    }

    .footer img {
        float: none;
        clear: both;
        margin: 0 auto;
        top: -25px;
        position: relative;
    }

    .footer p {
        float: none;
        clear: both;
        text-align: center;
        top: 40px;
        position: relative;
    }

}