.flex { /*Aula 3-10 Brafé 2*/
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
}

.flex-row {
    margin-right: -10px; /*aqui eu fiz diferente do professor 08:30*/
    margin-left: -10px;
}

.flex-item-4, .flex-item-6, .flex-item-8 {
    margin-right: 10px;
    margin-left: 10px;
    align-self: flex-start;
}

.flex-item-4 {
    flex: 0 0 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
}

.flex-item-6 {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
}

.flex-item-8 {
    flex: 0 0 calc(66.666% - 20px);
    max-width: calc(66.666% - 20px);
}

@media (max-width: 739px) { /*aqui eu fiz diferente do professor 09:30*/
    .flex-item-12-mobile { /*Q: com esse dois seletores abaixo fica mais responsível porém no inicio do breakpoint é criado um gap na lateral direita dos itens, como remover esse gap e centralizar o container?*/
        flex: 0 0 calc(100% - 20px); 
        max-width: calc(100% - 20px);
        /* margin: 0 auto; */
    }

    .flex-row-mobile {
        /* background: red; */
    }
    
    .flex-row-mobile .flex-item-6 { /*R: consegui remover o gap e centralizar desta forma, não sei se é a ideal*/ /*o que está definindo a margem minima de 10px no li.flex-item-6?*/
        flex-basis: auto; 
        margin-right: auto;
        margin-left: auto;
        /* background: blue; */
    }
}