body {
    background-color: #e7e4d8;
}

/* HEADER */

.header {
    background-color: #d6d3c8;
    padding: 30px;
    display: flex; /*Aula 4-9 Brafé 3*/
}

.header a {
    flex-grow: 1; /*Aula 4-9 Brafé 3*/
    /*o problema desse flex-grow é que ele está tornando clicável toda a área vazia entre os elementos, como resolver?*/
}

.header a img {
    padding: 10px;
    margin: -10px;
}

.header nav ul {
    display: flex; /*Aula 4-9  Brafé 3*/
    flex-wrap: wrap; /*Aula 4-9 Brafé 3*/
}

.header nav ul li a {
    padding: 10px;
    margin: 0 5px;
    font-size: 1.125em;
}

.header nav ul li:hover {
    transform: scale(1.1);
}

@media (max-width: 739px) {
    .header {
        flex-direction: column; /*Aula 4-9 Brafé 3*/
        flex-wrap: wrap;
        align-content: center;
    }

    .header a img {
        margin: 0 auto 10px auto;
    }

    .header nav ul {
        /* display: block; // Q: existe uma forma de centralizar o contéudo desse ul com flexbox? R: consegui com o flex-wrap e o align-content no .header acima*/
        /* background: tomato; */
    }

    .header nav ul li {
        display: inline-block;
    }
}

/* CONTAINER */

.main-container {
    display: flex; /*Aula 4-10 Brafé 3*/
    max-width: 1260px;
    margin: 0 auto;
}

/* MENU NAV */

.menu-nav {
    background-color: #252525;
    flex: 1; /*Aula 4-10 Brafé 3*/
    max-width: 300px; /*Aula 4-10 Brafé 3*/
}

.menu-nav ul li a {
    display: block;
    color: #fff;
    font-size: 1.125em;
    line-height: 1.4em;
    padding: 20px;
    border-bottom: 3px solid #484846;
}

.menu-nav ul li a:hover {
    background-color: rgba(0,0,0,.30);
}

.menu-nav ul li a::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    top: 5px;
    margin-right: 10px;
    background-image: url('../img/icones.png');
}

.nav-cont::before {
    background-position: 0 0;
}

.nav-prod::before {
    background-position: 0 -24px;
}

.nav-pag::before {
    background-position: 0 calc(-24px * 2);
}

.nav-plug::before {
    background-position: 0 calc(-72px * 3);
}

.nav-form::before {
    background-position: 0 -96px;
}

.nav-hosp::before {
    background-position: 0 -120px;;
}

@media (max-width: 960px) {
    .menu-nav {
        flex: initial; /*não está na aula*/
    }
}

@media (max-width: 739px) {
    .main-container {
        flex-direction: column; /*Aula 4-10 Brafé 3*/
    }
    
    .menu-nav {
        max-width: 100%; /*Aula 4-10 Brafé 3*/
    }

    .menu-nav ul {
        display: flex; /*Aula 4-10 Brafé 3*/
        flex-wrap: wrap; /*Aula 4-10 Brafé 3*/
        /*max-width: 288px; // Q: como alinhar os itens ao centro da tela sem essa gambiarra com flexbox?
        margin: 0 auto;*/
        justify-content: center; /*R: com o justify-content*/
    }

    .menu-nav ul li a {
        width: 48px;
        height: 48px;
        overflow: hidden;
        border-bottom: none;
    }

    .menu-nav ul li a::before {
        right: 7px; /*entender porque exatamente coloquei esses valores aqui e buscar saber se existe forma mais limpa*/
        top: -7px; /*entender porque exatamente coloquei esses valores aqui e buscar saber se existe forma mais limpa*/
    }
}

/* PRODUTOS */

.produtos {
    flex: 1; /*Aula 4-11 Brafé 3*/
    padding: 20px;
}

.produtos-header {
    display: flex; /*Aula 4-11 Brafé 3*/
    flex-wrap: wrap; /*não está na aula*/
}

.produtos-header h1 {
    font-size: 2.25em;
    font-weight: bold;
    margin-top: 5px;
    flex-grow: 1; /*Aula 4-11 Brafé 3*/
}

.produtos-header a {
    background-color: #c17139;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.125em;
    text-transform: uppercase;
    padding: 15px 10px;
    border-radius: 5px;
}

.produtos-header a:hover {
    background-color: #252525;
}

.produtos-item {
    background-color: #fff;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.35);
    margin-top: 20px;
    position: relative;
    display: flex; /*Aula 4-11 Brafé 3*/
}

.produtos-item img {
    align-self: center; /*Aula 4-11 Brafé 3*/
}

.produtos-item ul {
    padding: 0 20px;
    width: calc(100% - 140px); 
}

.produtos-item ul li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.125em;
    padding: 11.8px 0;
    border-bottom: 1px solid #e7e4d8;
}

.produtos-item ul li:last-child {
    border-bottom: none;
}

.produtos-item ul li span {
    font-weight: bold;
    display: inline-block;
    width: 111.550px;
}

.produtos-item a {
    width: 24px;
    height: 24px;
    background-image: url('/img/edit.svg');
    background-repeat: no-repeat;
    text-indent: 30px;
    overflow: hidden;
    position: absolute;
    top: 15px;
    right: 15px;
}

.produtos-item a:hover {
    background-image: url('/img/edit-hover.svg');
}

@media (min-width: 739.1px) and (max-width: 960px) {
    .produtos-item {
        align-items: center; /*não está na aula*/
    }
    
    .produtos-item ul li {
        padding: 0;
    }

    .produtos-item ul li:nth-child(even) {
        padding: 2.5px 0;
    }
    
    .produtos-item ul li span {
        display: block;
    }
}

@media (max-width: 739px) {
    .produtos-header {
        flex-direction: column; /*Aula 4-11 Brafé 3 03:30*/
    }

    .produtos-header h1 {
        text-align: center;
        margin-bottom: 10px;
    }

    .produtos-header a {
        margin: 0 auto;
    }

    .produtos-item {
        flex-direction: column;
    }

    .produtos-item img {
        margin-top: 19px;
        box-shadow: 0 0 0 3px #fff, 0 0 0 6px #252525; /*https://css-tricks.com/snippets/css/multiple-borders*/
    }

    .produtos-item ul {
        width: 100%;
    }

    .produtos-item ul li {
        text-align: center;
    }

    .produtos-item ul li span {
        display: block;
        margin: 0 auto;
    }
}


/* FOOTER */

.footer {
    background-color: #d6d3c8;
    padding: 30px 0;
    font-size: 1.125em;
    line-height: 1.4em;
    text-align: center;
}